.main{
    margin: 24px 0px;
    width: 80%;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.project_title{
    font-size: 32px;
}
.subtitle{
    font-size: 28px;
}
.detail_box{
    margin: 24px 0px;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    border-left: 6px black solid;
    border-right: 6px black solid;
    min-height: 8rem;
}
.detail_content{
    margin: 16px;
}
.book_scroll{
    overflow-x: auto; /* 横スクロールを有効にする */
    display: flex; /* 子要素を横に並べる */
    background-color: #e0e0e0;
}
.book_scroll > * {
    flex-shrink: 0; /* 子要素が親要素の幅に合わせて縮小しないようにする */
}

.back_to_home{
    width: 200px;
    height: 50px;
    background-color: #ed5fd5;
    border-radius: 10px;
    display: relative; 
    /*右寄せ*/
    float: right;
    /*30px下に*/
    margin-top: 30px;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
}

.back_to_home_btn {
    position: relative;
    top:25%;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    color: white;
    width: 100%; /* 親要素に合わせる */
    height: 100%; /* 親要素に合わせる */
}