.main{
    margin: 24px 0px;
    width: 80%;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.project_title{
    font-size: 32px;
}
.subtitle{
    font-size: 28px;
}
.detail_box{
    margin: 24px 0px;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    border-left: 6px black solid;
    border-right: 6px black solid;
    min-height: 8rem;
}
.detail_content{
    margin: 16px;
}
.book_scroll{
    overflow-x: auto; /* 横スクロールを有効にする */
    display: flex; /* 子要素を横に並べる */
    background-color: #e0e0e0;
}
.book_scroll > * {
    flex-shrink: 0; /* 子要素が親要素の幅に合わせて縮小しないようにする */
}